.body{
  background: var(--gray-700);
  font-family: 'Inter', sans-serif;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  margin-top: 4.5rem;
  margin-bottom: 5rem;
}

.foguete{
  margin-top: 0.625rem;
}

.todo{
  margin: 0.625rem 0.75rem 0.126rem;
}