.container{
  background-color: var(--gray-500);

  width: 46rem;
  height: 4.5rem;

  border-radius: 0.5rem;

  padding: 0 1rem;
  margin: 0 auto 0.75rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container label{
  color: var(--gray-100);
  font-family: 'Inter', sans-serif;
  font-size: 14px;

  margin-left: 12px;
  margin-right: 12px;
}

.container .trash{
  display: flex;
  justify-content: end;
}